body {
    background-color: #ffffff;
}

.navbar {
    background-color: #2980b9;
}

.navbar-green {
    background-color: #3498db;

    color: #273c75;
}

.navbar-white {
    background-color: #bdc3c7;
}

.center {
    text-align: center;
}

.right {
    align-content: center;
}

.text-color-1 {
    color: #273c75;
}